body {
    color: white;
    background-color: #0a0500;
}
a:link {
    color: #5050F0;
}
a:visited {
    color: #7F7FD0;
    
}
input[type=text] {
    background-color: #191715;
    border:solid 1px #a0a0a0;
    color: #FFF5F0;
}
input[type=number] {
    background-color: #191715;
    border:solid 1px #a0a0a0;
    color: #FFF5F0;
}
.input_category {
    display: flex;
	flex-flow: row wrap;
	min-width: 240;
	max-height: 30;
	border:hidden 3px #a0a0a0;
	margin: 0px;
	padding: 5px;
}
.input_box {
	border:inset 2px #a0a0a0;
	margin: 3px;
	padding: 3px;
}
.work_box {
	border:inset 2px #a0a0a0;
	margin: 0px;
    padding: 10px;
    max-width: 30%;
}
.work_entry {
    padding-bottom: 8px;
}