$danger: #f84dad;
$success: #65c23e;
$primary: #8A80E1;
$warning: #fbc239;
$theme-colors: (
    "primary": $primary,
    "danger": $danger,
    "success": $success,
    "warning": $warning,
);
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/bootstrap-vue/src/index.scss';
.bg-dwarf { background-color: #1c0e00 }
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
  }
  
  #nav {
    padding: 30px;
  
    a {
      font-weight: bold;
      color: #4cabf4;
  
      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }