$red: #f84dad;
$green: #65c23e;
$blue: #8A80E1;
$yellow: #fbc239;
$cyan: #1cd1ed;
$white:    #000;
$gray-900: #f8f9fa;
$gray-800: #e9ecef;
$gray-700: #dee2e6;
$gray-600: #ced4da;
$gray-500: #adb5bd;
$gray-400: #6c757d;
$gray-300: #495057;
$gray-200: #343a40;
$gray-100: #212529;
$grays: ( 
    "100": $gray-900,
    "200": $gray-800,
    "300": $gray-700,
    "400": $gray-600,
    "500": $gray-500,
    "600": $gray-400,
    "700": $gray-300,
    "800": $gray-200,
    "900": $gray-100
);
$yiq-text-dark: $white;
$yiq-text-light: $gray-900;
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/bootstrap-vue/src/index.scss';
.bg-dwarf { background-color: #1c0e00 }
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
  }
  
  #nav {
    padding: 30px;
  
    a {
      font-weight: bold;
      color: #4cabf4;
  
      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }